<div class="max-w-3xl mx-auto bg-white p-8 shadow-lg">

 <h1 class="text-4xl font-bold mb-4"><%= @article.title %></h1>
 <p class="mb-8"><%= @article.body %></p>

 <ul class="mb-8">
   <li class="mb-2 bg-blue-300 px-4 py-2 rounded hover:bg-blue-500">
     <%= link_to "Edit", edit_article_path(@article), class: "text-slate-900 hover:text-indigo-900" %>
   </li>
   <li class="mb-2 bg-blue-300 px-4 py-2 rounded hover:bg-blue-500">
     <%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "For real?" }, class: "text-slate-9800 hover:text-indigo-900" %>
   </li>
   <li class="mb-2 bg-blue-300 px-4 py-2 rounded hover:bg-blue-500">
     <%= link_to "Index", root_path, class: "text-slate-900 hover:text-indigo-900" %>
   </li>
 </ul>

  <h3 class="text-2xl font-semibold mb-4">Comments</h3>
  <%= render @article.comments %>
  <h3 class="text-2xl font-semibold mt-8 mb-4">Add a comment:</h3>
  <%= render 'comments/form' %>

</div>