<div>
  <div>
    <p class="text-green-500"><%= notice %></p>
    <h1 class="text-4xl font-bold mb-8">Todos</h1>
  </div>

  <div id="todos" class="grid grid-cols-1 gap-8">
    <% @todos.each do |todo| %>
      <%= render todo %>
      <p class="mt-4">
        <%= link_to "Show this todo", todo, class: "text-indigo-600 hover:text-indigo-900" %>
      </p>
    <% end %>
  </div>
  <div>
    <ul class="mt-8">
      <li class="mb-2">
        <%= link_to "New todo", new_todo_path, class: "text-indigo-600 hover:text-indigo-900" %>
      </li>
      <li>
        <%= link_to "Home", root_path, class: "text-indigo-600 hover:text-indigo-900" %>
      </li>
    </ul>
  </div>
</div>